apiVersion: v1
kind: Secret
metadata:
  name: traefik-dashboard-auth
  namespace: kube-system
  labels:
    app: traefik
    tier: reverse-proxy
data:
  users: $(htpasswd -nb user password | openssl base64)
